//
//  Adapter.xcconfig
//  Adapter
//

/// Third Party AD Network Name.
AD_NETWORK_NAME = Vpon
FRAMEWORK_NAME = $(AD_NETWORK_NAME)Adapter

/// Xcode variables
PRODUCT_NAME = Adapter
EXECUTABLE_PREFIX = lib

/// User defined variables.
LIB_NAME = $(EXECUTABLE_PREFIX)$(PRODUCT_NAME)
FAT_LIBRARY_NAME = $(LIB_NAME)$(AD_NETWORK_NAME)

OUTPUT_FOLDER = ${PROJECT_DIR}/Library

MIN_OS_MAJOR_VERSION = 9
MIN_OS_MINOR_VERSION = 0
MIN_OS_MAJOR_VERSION_64_BIT = 7
MIN_OS_MINOR_VERSION_64_BIT = 0

/// Xcode variables
/// General Build settings.
IPHONEOS_DEPLOYMENT_TARGET = $(MIN_OS_MAJOR_VERSION).$(MIN_OS_MINOR_VERSION)
IPHONEOS_DEPLOYMENT_TARGET[arch=arm64] = $(MIN_OS_MAJOR_VERSION_64_BIT).$(MIN_OS_MINOR_VERSION_64_BIT)
IPHONEOS_DEPLOYMENT_TARGET[arch=x86_64] = $(MIN_OS_MAJOR_VERSION_64_BIT).$(MIN_OS_MINOR_VERSION_64_BIT)
MODULE_MAP_PATH = $(SRCROOT)/Public
PUBLIC_HEADERS_FOLDER_PATH = "$(SRCROOT)/Public/**"
FRAMEWORK_SEARCH_PATHS = $(inherited) "$(SRCROOT)/Drop_Framework_And_Headers/**"
LIBRARY_SEARCH_PATHS = $(inherited) "$(SRCROOT)/Drop_Framework_And_Headers/**"
HEADER_SEARCH_PATHS = $(inherited) "$(SRCROOT)/Drop_Framework_And_Headers/**"
SDKROOT = iphoneos
SUPPORTED_PLATFORMS = iphoneos iphonesimulator
ONLY_ACTIVE_ARCH = NO
VALID_ARCHS = arm64 armv7 i386 x86_64
TARGETED_DEVICE_FAMILY = 1,2
BITCODE_GENERATION_MODE = bitcode
ENABLE_BITCODE = YES
CLANG_ENABLE_MODULES = YES
CLANG_ENABLE_OBJC_ARC = YES
GCC_WARN_UNDECLARED_SELECTOR = YES
CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF = YES
CLANG_WARN_OBJC_REPEATED_USE_OF_WEAK = YES
ALWAYS_SEARCH_USER_PATHS = NO
CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF = YES;
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_UNUSED_VARIABLE = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
PRESERVE_DEAD_CODE_INITS_AND_TERMS = YES
SEPARATE_STRIP = YES
STRIP_INSTALLED_PRODUCT = YES
DEAD_CODE_STRIPPING = YES
